:root {
    --color-bg-option: #dad8cc;
    --color-ownership-none: #5500ff;
    --color-ownership-observer: #7a7971;
    --color-ownership-owner: #b5b3a4;
    --ddb-grey: #CBC6C3;
    --ddb-green: #47D18C;
    --ddb-blue: #0F5CBC;
    --ddb-red: #BC0F0F;
    --ddb-purple: #704CD9;
    --ddb-orange: #D1A347;
    --ddb-gold: #bda472;
    --font-primary-bold: "Signika Bold", sans-serif;
    --font-alegreya-regular: "Alegreya", sans-serif;
    --font-alegreya-bold: "Alegreya Bold", sans-serif;
    --font-alegreya-italic: "Alegreya Italic", sans-serif;
    --font-alegreya-italic-bold: "Alegreya Italic Bold", sans-serif;

    /*40k*/
    --font-aglet-slab: "Aglet Slab", serif;
    --font-redeye-sans: "Redeye Sans", serif;
  }

/* ----------------------------------------- */
/*  Fonts (HUNGARIAN)                        */
/* ----------------------------------------- */
  @font-face {
    font-family: 'Signika';
    src: url('../media/fonts/signika-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Signika';
    src: url('../media/fonts/signika-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Signika Bold';
    src: url('../media/fonts/signika-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Alegreya';
    src: url('../media/fonts/alegreya.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Alegreya Bold';
    src: url('../media/fonts/alegreya-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Alegreya Italic';
    src: url('../media/fonts/alegreya-italic.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  } 

  @font-face {
    font-family: 'Alegreya Italic Bold';
    src: url('../media/fonts/alegreya-italic-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  /*40k*/
  @font-face {
    font-family: 'Aglet Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../media/fonts/agletslab.woff2');
  } 

  @font-face {
      font-family: 'Redeye Sans';
      font-style: normal;
      font-weight: 400;
      src: url('../media/fonts/redeyesans_bold.woff2');
  }

  @font-face {
      font-family: 'Quantico';
      font-style: normal;
      font-weight: 400;
      src: url('../media/fonts/QuanticoHUN-Regular.otf');
  }

  @font-face {
    font-family: 'Quantico Bold';
    font-weight: bold;
    src: local('Quantico-Bold'), url(https://fonts.gstatic.com/s/quantico/v5/EVhTOTBlAHgKHA6KCxbw4Y4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  } 

/* ---------------------------------------------- */
/*  Content Links Override (Journal Entiry Page)  */
/* -----------------------------------------------*/ 
  a.content-link[data-type="JournalEntryPage"] {
    color: var(--ddb-orange); /* --ddb-green */
    background: rgba(0, 0, 0, 0);
    padding: 0px 0px;
    border: none;
    border-radius: 0px;
    white-space: nowrap;
    word-break: break-all;
    font-weight: 700;
  }

  a.content-link[data-type="JournalEntryPage"], a:hover {
    text-shadow: none;
  }

  a.content-link[data-type="JournalEntryPage"] i::before {
    content:"";
  }

  a.content-link[data-type="JournalEntryPage"] i {
    margin-right: 0em;
  }

/* --------------------------------------- */
/*  Content Links Override (Journal Entiry)  */
/* ------------------------------------------*/ 
a.content-link[data-type="JournalEntry"] {
  color: var(--ddb-orange);
  background: rgba(0, 0, 0, 0);
  padding: 0px 0px;
  border: none;
  border-radius: 0px;
  white-space: nowrap;
  word-break: break-all;
  font-weight: 700;
}

a.content-link[data-type="JournalEntry"], a:hover {
  text-shadow: none;
}

a.content-link[data-type="JournalEntry"] i::before {
  content:"";
}

a.content-link[data-type="JournalEntry"] i {
  margin-right: 0em;
}

/* ----------------------------------------- */
/*  Content Links Override (Item: kék)  */
/* ----------------------------------------- */ 

  a.content-link[data-type="Item"] {
    color: var(--ddb-blue);
    background: rgba(0, 0, 0, 0);
    padding: 0px 0px;
    border: none;
    border-radius: 0px;
    white-space: nowrap;
    word-break: break-all;
    font-weight: 700;
    font-style: italic;
  }

  a.content-link[data-type="Item"], a:hover {
    text-shadow: none;
  }

  a.content-link[data-type="Item"] i::before {
    content:"";
  }

  a.content-link[data-type="Item"] i {
    margin-right: 0em;
  }

/* ----------------------------------------- */
/*  Content Links Override (Actor: piros)  */
/* ----------------------------------------- */ 

a.content-link[data-type="Actor"] {
    color: var(--ddb-red);
    background: rgba(0, 0, 0, 0);
    padding: 0px 0px;
    border: none;
    border-radius: 0px;
    white-space: nowrap;
    word-break: break-all;
    font-weight: 700;
  }

  a.content-link[data-type="Actor"], a:hover {
    text-shadow: none;
  }

  a.content-link[data-type="Actor"] i::before {
    content:"";
  }

  a.content-link[data-type="Actor"] i {
    margin-right: 0em;
  }

/* ----------------------------------------- */
/*  Content Links Override (Scene: Lila)  */
/* ----------------------------------------- */ 

a.content-link[data-type="Scene"] {
    color: var(--ddb-purple);
    background: rgba(0, 0, 0, 0);
    padding: 0px 0px;
    border: none;
    border-radius: 0px;
    white-space: nowrap;
    word-break: break-all;
    font-weight: 700;
    font-style: italic;
  }

  a.content-link[data-type="Scene"], a:hover {
    text-shadow: none;
  }

  a.content-link[data-type="Scene"] i::before {
    content:"";
  }

  a.content-link[data-type="Scene"] i {
    margin-right: 0em;
  }

/* ----------------------------------------- */
/*  Journal Entry Override                   */
/* ----------------------------------------- */

  .journal-entry-page h1 {
    /*border-bottom: 3px solid var(--ddb-orange);*/
    max-width: calc(100% - 10px);
    font-weight: 700;
    font-size: 32px;
    font-family: var(--font-aglet-slab);
    text-transform: uppercase;
    display: flex;
  }

  .journal-entry-page h2 {
    /*border-bottom: 1px solid var(--ddb-orange);*/
    max-width: calc(100% - 10px);
    font-size: 26px;
    margin-top: 24px;
    margin-bottom: 6.5px;
    font-family: var(--font-aglet-slab);
    text-transform: uppercase;
    display: flex;
  }

  .journal-entry-page h3 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 19.5px;
    margin-bottom: 6.5px;
    font-family: var(--font-aglet-slab);
    text-transform: uppercase;
    border-bottom: none;
    display: flex;
  }

  .page-number {
    display: none;
  }

  /* Blockquote */
  /*blockquote {
    font-style: normal;
    background-attachment: scroll;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(36, 37, 39);
    border-left-color: rgb(224, 220, 220);
    border-right-color: rgb(224, 220, 220);
    border-top-color: rgb(36, 37, 39);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(36, 37, 39);
    display: flex;
    flex-direction: column;
    margin-block-end: 40px;
    margin-block-start: 40px;
    margin-bottom: 30px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    outline-color: rgb(36, 37, 39);
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: break-word;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    position: relative;
    text-overflow: ellipsis;
    text-size-adjust: 100%;
    max-width: calc(100% - 10px);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  blockquote::before {
    background-image: url(../css/assets/border_texture_wide.png);
    background-size: 100% 100%;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 20px;
    left: -1px;
    outline-color: rgb(36, 37, 39);
    outline-style: none;
    outline-width: 0px;
    position: absolute;
    right: -1px;
    top: -13px;
    transform: matrix3d(-1, 0, -1.22465e-16, 0, 0, 1, 0, 0, 1.22465e-16, 0, -1, 0, 0, 0, 0, 1);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  blockquote::after {
    background-image: url(../css/assets/border_texture_wide.png);
    background-size: 100% 100%;
    bottom: -13px;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 20px;
    left: -1px;
    outline-color: rgb(36, 37, 39);
    outline-style: none;
    outline-width: 0px;
    position: absolute;
    right: -1px;
    transform: matrix3d(1, 0, 0, 0, 0, -1, 1.22465e-16, 0, 0, -1.22465e-16, -1, 0, 0, 0, 0, 1);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }*/

  blockquote em {
    font-style: italic;
  }

  /* Cole Schultz's GM Secret Block                       */
  /* https://www.foundryvtt-hub.com/package/gm-secrets/   */
  /* ---------------------------------------------------  */

  section.secret {
    overflow: auto;
    border-width: 25px 25px 25px 25px !important;
    border-style: solid !important;
    border-color: transparent !important;
    border-image-repeat: repeat !important;
    border-image-slice: 25 25 25 25 fill !important;
    border-image-source: url(../css/assets/paper-block-quote.png) !important;
    background-color: transparent !important;
    padding: 10px !important;
    position: relative !important;
    -webkit-filter: drop-shadow(-2px 5px 8px #ccc);
    filter: drop-shadow(-2px 5px 8px #ccc);
  }

  section.secret.gm-secret {
      background: rgba(121, 0, 53, 0.1);
  }
  section.gm-secret:before {
      content: "gm secret";
      color: rgb(121, 0, 53);
  }

  body:not(.game-master) section.gm-secret {
      display: none;
  }

  /* ---------------------------------------- */
  /* Tables                                   */
  /* ---------------------------------------- */
  table {
    width: calc(100% - 10px);
    border-collapse: collapse;
    /*border: 1px solid rgb(224, 220, 220);
    margin-top: 20px;
    margin-bottom: 20px;*/
  }

  table thead {
    display: table-header-group;
    background-color: inherit;
    color: inherit;
    text-shadow: none;
    border-bottom: 3px solid #d0cac5;
    font-weight: 700;
    background: rgb(255, 255, 255);
    /*font-family: var(--font-quantico);*/
    font-size: 16px;
  }

  tbody tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0);
  }

  tbody tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.2);
  }

  table td:first-child {
    padding-left: 5px;
    padding-right: 5px;
  }

  td p {
    text-indent: 0em !important;
  }

  /* ----------------------------------------- */
  /* Scrollbar
  /* ----------------------------------------- */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    /*box-shadow: 0 0 1px #999 inset;*/
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    /*background: var(--ddb-green);
    border: 1px solid var(--ddb-green);*/
  }
  :root {
    scrollbar-width: thin;
    scrollbar-color: #782e22 #111;
  }
  /* ----------------------------------------- */
  /* Images
  /* ----------------------------------------- */
  img {
    box-sizing: border-box;
    border: 1px solid var(--color-border-dark);
    border-radius: 2px;
    max-width: 100%;
  }
  img.noborder {
    border: none;
    box-shadow: none;
    outline: none;
    max-width: calc(100% - 10px);
  }
  figure {
    margin: 1rem 0;
  }
  figure img {
    display: block;
    margin: 0 auto;
  }
  figure figcaption {
    margin-top: 0.5rem;
    padding: 0 1rem;
    text-align: center;
    font-weight: bold;
  }

  img.right {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
  }

  .sheet.journal-entry article img:not(.nopopout) {
    cursor: pointer;
    max-height: 100%;
}

  /* ----------------------------------------- */
  /*  Journal Entry
  /* ----------------------------------------- */

  .sheet.journal-entry .pages-list .page-heading .page-ownership.none {
    color: var(--ddb-grey); /* --color-ownership-none */
  }
  .sheet.journal-entry .pages-list .page-heading .page-ownership.observer {
    color: var(--ddb-green); /* --color-ownership-observer */
  }
  .sheet.journal-entry .pages-list .page-heading .page-ownership.owner {
    color: var(--ddb-gold); /* --color-ownership-owner */
  }
  
  .journal-sheet nav {
    background: url("../media/img/bg_light_big.jpg") repeat;
    color: var(--color-text-dark-1);
  }

  .sheet.journal-entry {
    --level-indent: 16px;
    /*--sidebar-width-collapsed: 0px;*/
  }

  /* A level2 bejegyzések rejtése */
  /*.sheet.journal-entry .pages-list li.directory-item.level2:not(.active) {
    display: none !important;
  }*/

  .sheet.journal-entry .pages-list .directory-item {
    border-bottom: none;
    border-top: none;
  }

  .sheet.journal-entry .pages-list .directory-item:not(.active) + .active {
    border-top: none;
  }

  .sheet.journal-entry .pages-list .directory-item.active:first-of-type {
    border-top: none;
  }

  .sheet.journal-entry .pages-list .directory-item.active + :not(.active) {
    border-top: none;
  }

  .sheet.journal-entry .pages-list .directory-item.active:last-of-type {
    border-bottom: none;
  }

  nav.pages-list .directory-item {
    padding-left: 0px;
  }

  nav.pages-list .directory-item.active {
    border-left: 4px solid var(--ddb-green);
    /*transition: .2s ease-in-out;*/
  }

  .directory-item:not(.active) .page-heading {
    padding-left: 20px;
  }

  .directory-item.active .page-heading {   
    font-family: var(--font-primary-bold);
    font-weight: 600;
    padding-left: 16px;
  }

  .sheet.journal-entry .pages-list .headings {
    margin: 0px;
  }

  .sheet.journal-entry .pages-list .headings li:last-child {
    margin-bottom: 0px;
  }

  .journal-sheet nav .pages-list .directory-item.active .headings {
    border-color:rgb(0, 0, 0, 0);
    font-family: var(--font-primary);
  }

  .sheet.journal-entry .pages-list .h2 {
    background-color: #F5F5F5;
    padding-left: 16px;
  }

  .sheet.journal-entry .pages-list .h3 {
    background-color: #EBEBEB;
    padding-left: 16px;
  }

  .journal-sheet nav .pages-list {
    flex: 1;
    position: relative;
  }
  .journal-sheet nav .pages-list .directory-item {
    line-height: 32px;
    border: none;
    display: flex;
    flex-direction: column;
  }
  .journal-sheet nav .pages-list .directory-item.hidden {
    display: none;
  }
  
  .sheet.journal-entry .journal-entry-content {
    background: url("../media/img/bg_light_big.jpg") repeat;
    text-rendering: optimizeLegibility;
  }

  .sheet.journal-entry .journal-entry-content p+p, 
  .sheet.journal-entry .journal-entry-content ul+p,
  .sheet.journal-entry .journal-entry-content ol+p {
    text-indent: 1em;
  }

  .sheet.journal-entry .pages-list .page-heading .page-title:hover {
    cursor: pointer;
    color: var(--ddb-green);
    text-shadow: none;
    transition: .2s ease-in-out;
  }

  .journal-sheet form {
    display: flex;
    flex-direction: column;
    background: url("../css/assets/background_texture_darker.png") repeat;
    padding: 5px;
    text-rendering: optimizeLegibility;
  }

  .journal-sheet .journal-header .title {
    background: url("../media/img/bg_dark.jpg");
  }

  .journal-sheet form input[name="name"] {
    border: none;
    color: var(--ddb-gold);
    font-family: var(--font-aglet-slab);
    text-transform: uppercase;
    /*font-variant: small-caps;*/
  }

  /* INFO & DARK INFO BOXES */
  .darkinfo, .info {
    padding: 10px 10px;
    margin: 5px 5px 10px;
    -webkit-clip-path: polygon(0 0, 0 100%, calc(100% - 25px) 100%, 100% calc(100% - 25px), 100% 0);
    clip-path: polygon(0 0, 0 100%, calc(100% - 25px) 100%, 100% calc(100% - 25px), 100% 0);
  }

  .darkinfo {
      background-image:url('../media/img/bg_dark.jpg');
      color: var(--color-text-light-1);
    }

  .info {
      background: rgba(0, 0, 0, 0.2);
      color: var(--color-text-dark-1);
    }

  .darkinfo p, .info p {
      margin: 0px 0px 0px;
  }